.hello {
  height: calc(100vh - 20px);
  /* padding: 20px; */
  position: relative;
  /*overflow: hidden;*/
  /* min-width: 1200px; */
}
.hello .cesium-performanceDisplay-defaultContainer {
  position: absolute;
  top: inherit;
  right: inherit;
  left: 20px;
  bottom: 70px;
  padding: 0 5px;
  text-align: left;
  z-index: 1;
  color: #000;
}
.hello .search {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 45px;
  width: 375px;
  box-shadow: 1px 2px 4px #11035440;
}
.hello .search .box {
  height: 45px;
}
.hello .search .box /deep/ .el-input .el-input--suffix {
  width: 170px;
}
.hello .search .box /deep/ .el-input-group__append {
  height: 45px;
  background-color: #81d8d0;
  border: none !important;
}
.hello .search .box /deep/ .el-input-group__append /deep/ .el-icon-search {
  color: #ffffff;
}
.hello .search .box /deep/ .el-input__inner {
  height: 45px;
}
.hello .search .search-history {
  background-color: #fff;
  width: 319px;
  position: relative;
  left: 1px;
  top: 0;
  padding: 8px;
}
.hello .search .search-history .search-history-list {
  display: flex;
  justify-content: space-between;
}
.hello .search .search-history .search-history-list h5 {
  font-size: 14px;
  font-weight: 600;
  color: #999999;
}
.hello .search .search-history .search-history-list span {
  font-size: 12px;
  color: #999999;
}
.hello .search .search-history .line {
  border-bottom: 1px solid #dfdfdf;
  margin: 8px 0;
}
.hello .search .search-history .data-name {
  overflow: hidden;
}
.hello .search .search-history .data-list {
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.hello .search .search-history .data-list > div {
  overflow: hidden;
}
.hello .search .search-history .data-list .nameHis {
  text-align: left;
  float: left;
  display: block;
  font-size: 14px;
  color: #5f6477;
  width: 80%;
}
.hello .search .search-history .data-list .deleteHis {
  display: block;
  float: right;
  width: 18%;
  text-align: right;
}
.hello .search .search-history .data-list span.desc {
  text-align: left;
  padding-top: 1px;
  font-size: 11px;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #555;
}
.hello .info div {
  font-size: 16px;
  padding-bottom: 5px;
}
.hello .info div span {
  font-size: 14px;
}
.hello .info .dialog-footer {
  float: right;
  margin-top: 10px;
}
.hello /deep/ .el-image {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  text-align: center;
  border: 1px solid #dcdfe6;
  padding-top: 3px;
  cursor: pointer;
}
.hello /deep/ .el-image /deep/ .el-image__inner {
  width: auto;
  height: auto;
  max-height: 32px;
  max-width: 32px;
}
.hello .el-image.active {
  background-color: #c6c6ef;
}
.hello /deep/ .el-table /deep/ .is-group tr:first-child th:nth-child(2) {
  position: relative;
  top: 59px;
}
.hello /deep/ .el-table /deep/ .is-group tr:first-child th:nth-child(3) {
  position: relative;
  top: 59px;
}
.hello /deep/ .el-table /deep/ .is-group tr:first-child th:nth-child(4) {
  position: relative;
  top: 59px;
}
.hello /deep/ .el-table /deep/ .is-group tr:last-child th:nth-child(1) {
  position: relative;
  top: -53px;
}
.hello /deep/ .el-table /deep/ .is-group tr:last-child th:nth-child(2) {
  position: relative;
  top: -53px;
}
.hello /deep/ .el-table /deep/ .is-group tr:last-child th:nth-child(3) {
  position: relative;
  top: -53px;
}
.hello .table {
  border: 1px solid #dbdee2;
  border-collapse: collapse;
  width: 100%;
}
.hello .table tr th {
  border: 1px solid #dbdee2;
  padding: 8px;
  text-align: center;
}
.hello .table tr td {
  border: 1px solid #dbdee2;
  padding: 5px;
  text-align: center;
}
.hello .table tr td a {
  padding: 0 !important;
  text-decoration: none;
}
.hello #cesiumContainer {
  height: 100%;
}
.hello #cesiumContainer .navigation-controls {
  top: unset;
  bottom: 50px;
  width: 33px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.hello #cesiumContainer .navigation-controls /deep/ .navigation-control-icon-zoom-in {
  background-color: #ffffff;
  color: black;
}
.hello #cesiumEagleContainer {
  position: absolute;
  bottom: 10px;
  right: 80px;
  width: 300px;
  height: 150px;
  box-shadow: 0px 0px 7px #dcd7d796;
}
.hello .cesium-mouse-position {
  position: absolute;
  bottom: 0;
  width: 480px;
  padding: 0 5px;
  text-align: left;
  z-index: 1;
  background: rgba(26, 72, 126, 0.6);
  height: 22px;
  line-height: 22px;
  background: #fbfbfb;
  color: #000;
}
.hello .cesium-mouse-position .positionLongitude {
  position: relative;
  width: 160px;
  margin: 0 10px;
}
.hello .cesium-mouse-position .positionLatitude {
  position: relative;
  width: 160px;
}
.hello .cesium-mouse-position .nameWord {
  color: #5f6477;
  font-size: 12px;
}
.hello .cesium-mouse-position .pointLong,
.hello .cesium-mouse-position .poitLat {
  color: #81d8d0;
}
.hello .operation {
  position: absolute;
  top: 20px;
  /*修改距离右边栏的距离*/
  right: 90px;
  height: 45px;
  border-radius: 5px;
  line-height: 45px;
  background: #fff;
  width: auto;
  /*.hello .opera>div:hover{*/
  /*!*box-shadow: 0 0 8px #fff;*!*/
  /*color: rgba(0,0,0,.6);*/
  /*}*/
  /*一键清除的样式*/
}
.hello .operation .ivu-dropdown-item {
  paddding: 3px 6px;
}
.hello .operation .operation-item:last-child {
  border-right: none;
}
.hello .operation .operation-item {
  display: inline-block;
  border-right: 1px dashed #dbdee2;
  height: 35px;
  line-height: 35px;
  padding: 0 5px;
  /*.dropdown-box {*/
  /*  /deep/ .ivu-select-dropdown {*/
  /*    left: 25px !important;*/
  /*  }*/
  /*}*/
}
.hello .operation .operation-item a {
  padding: 0 15px;
  color: #5f6477;
  text-decoration: none;
}
.hello .operation .operation-item a .right-icon {
  margin-right: 3px;
  color: #c6c0df;
  font-size: 16px;
  padding-right: 5px;
}
.hello .operation .operation-item a :active,
.hello .operation .operation-item a :hover,
.hello .operation .operation-item a :focus {
  color: #81d8d0 !important;
}
.hello .operation > div {
  display: inline-block;
}
.hello .operation > div > span:hover {
  color: rgba(0, 0, 0, 0.6);
}
.hello .operation div /deep/ .ivu-dropdown-rel a span:hover {
  color: rgba(0, 0, 0, 0.6);
}
.hello .operation .tools div /deep/ .ivu-dropdown .ivu-dropdown-rel a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.hello .operation .clearance {
  width: 120px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  border-right: 1px dashed #dbdee2;
}
.hello .operation .change-color:active,
.hello .operation .change-color:hover,
.hello .operation .change-color:focus {
  color: #81d8d0 !important;
}
.hello .operation /deep/ .ivu-dropdown-item {
  text-align: left;
}
.hello .context-menu {
  background-color: #fff;
  min-width: 150px;
  padding: 10px 5px;
  text-align: left;
  border: 1px solid #DCDFE6;
}
.hello .context-menu > ul > li {
  cursor: pointer;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding-left: 5px;
}
.hello .context-menu > ul > li span {
  color: #6e6e6e;
  font-size: 14px;
}
.hello .context-menu > ul > li i {
  position: absolute;
  right: 7px;
  top: 6px;
  color: #6e6e6e;
}
.hello .context-menu > ul > li .secondMenu {
  background: #fff;
  width: 140px;
  border: 1px solid #DCDFE6;
  padding: 10px;
}
.hello .context-menu > ul > li .secondMenu ul li:hover {
  color: #81d8d0;
}
.hello .context-menu > ul li:hover span {
  color: #81d8d0;
}
.hello .context-menu > ul li:hover i {
  color: #81d8d0;
}
.hello .context-menu > ul li.line {
  background-color: #dbdbdb;
  display: block;
  height: 1px;
  margin: 3px auto;
}
.hello .tools {
  position: absolute;
  top: 72px;
  right: 27px;
  color: #fff;
  width: 88px;
  text-align: center;
  box-shadow: 1px 2px 4px #11035440;
  border-radius: 4px;
  background: #fff;
}
.hello .tools .tools-item {
  padding: 8px;
  padding-bottom: 5px;
  cursor: pointer;
  text-align: center;
}
.hello .tools .tools-item a {
  color: #5f6477;
  text-decoration: none;
}
.hello .tools .tools-item:hover {
  background-color: #dbdee2;
}
.hello .tools a:hover {
  color: #81d8d0;
}
.hello .editPersonal {
  position: absolute;
  top: 80px;
  left: 20px;
  box-shadow: 1px 2px 4px #11035440;
  border-radius: 4px;
  background: #fff;
  width: 400px;
  padding: 10px 20px 20px 20px;
  border-top: 5px solid #81d8d0;
}
.hello .editPersonal .editTitle {
  height: 40px;
  line-height: 30px;
  text-align: left;
  color: #81d8d0;
  font-size: 18px;
  margin-bottom: 10px;
}
.hello .editPersonal .editFooter {
  text-align: right;
}
.hello .drawLineTips,
.hello .drawPolygonTips,
.hello .drawRectangleTips,
.hello .drawCircleTips {
  display: none;
  position: absolute;
  padding: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px #dcd7d796;
  box-shadow: 0px 0px 7px #dcd7d796;
}
/*放大缩小*/
.hello /deep/ #cesiumContainer .navigation-controls {
  top: unset;
  bottom: 80px;
  width: 33px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.hello /deep/ #cesiumContainer .navigation-controls > div:first-child {
  /* border: 1px solid #568BEB;*/
  background: #fff;
  height: 35px;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.hello /deep/ #cesiumContainer .navigation-controls > div:first-child > div {
  /* border: 1px solid #568BEB;*/
  color: #000;
  font-size: 36px;
  height: 35px;
  padding-bottom: 0;
  border-bottom: 1px solid #dfdfdf;
  line-height: 30px;
}
.hello /deep/ #cesiumContainer .navigation-controls > div:nth-child(2) {
  display: none;
}
.hello /deep/ #cesiumContainer .navigation-controls > div:last-child {
  /* border: 1px solid #568BEB; */
  background: #fff;
  height: 35px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.hello /deep/ #cesiumContainer .navigation-controls > div:last-child > div {
  /* border: 1px solid #568BEB; */
  color: #000;
  font-size: 36px;
  height: 35px;
  padding-bottom: 0;
  line-height: 30px;
}
/*罗盘*/
.hello /deep/ #cesiumContainer .cesium-viewer .compass {
  top: unset;
  bottom: 148px;
}
.hello /deep/ #cesiumContainer .cesium-viewer .compass .compass-outer-ring-background {
  border: none;
}
.hello /deep/ #cesiumContainer .cesium-viewer .compass .compass-gyro-background {
  background: #fff;
  /* border: 1px solid #568BEB; */
}
.hello /deep/ #cesiumContainer .cesium-viewer .compass .compass-outer-ring {
  fill: white;
}
.hello /deep/ #cesiumContainer .cesium-viewer .compass .compass-gyro path {
  fill: #000;
}
/*工具的样式*/
.hello .toolsItem {
  position: absolute;
  top: 80px;
  right: 20px;
  color: #fff;
  width: 50px;
  /*border: 1px solid #568BEB;*/
  box-shadow: 1px 2px 4px #11035440;
  border-radius: 4px;
  background: #fff;
}
.hello .toolsItem > div ul li {
  list-style: none;
  height: 39px;
  line-height: 39px;
  cursor: pointer;
}
/*.hello .toolsItem > div ul li:hover {*/
/*background: #6850d80f;*/
/*}*/
.hello .hover-show {
  font-size: 12px;
  color: #81d8d0;
}
.hello .toolsItem > div ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/*修改提示框确定按钮的背景色为主色*/
.el-button--primary {
  color: #fff;
  background-color: #81d8d0;
  border-color: #81d8d0;
}
.el-button--primary:hover {
  background-color: #AFD8CC;
  border-color: #AFD8CC;
}
/*修改取消按钮的颜色*/
.el-button:hover {
  background-color: #AFD8CC;
  border-color: #AFD8CC;
  color: #fff;
}
/*修改el-button之间的margin*/
.el-button + .el-button {
  margin-left: 200px;
}
/*按钮设置为居中格式*/
.el-dialog__footer {
  text-align: center;
}
/*changed the color of news-link*/
.news-content {
  font-family: 'Microsoft YaHei UI';
  color: #686266;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all;
}
.news-content a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.news-content a:hover {
  color: #81dbd0;
}
/*新闻图片样式*/
.news-image {
  text-align: center;
}
/*# sourceMappingURL=WebEarthF1.css.map */
